@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --body-color: rgba(250, 250, 250);
    --color-white: rgba(250, 250, 250);
    --text-color-second: rgba(38, 37, 37);
    --first-color: rgba(110, 87, 224);
    --first-shadow: rgba(0, 0, 0, 0.1);

    --box-color: #fff;
    --nav-color: #fff;
    --nav-icon: #000;
    --logo-color: #000;

    --text-color: #444444;

    --icon-color: #242526;
    --mode-color: #ccc;
}

body {
    background: var(--body-color);
}

body.dark {
    --body-color: #202425;
    --box-color: #303030;
    --nav-color: #262425;
    --color-white: #fff;
    --text-color: #fff;

    --nav-icon: #fff;
    --logo-color: #fff;
    --icon-color: #8749f2;
    --mode-color: #fff;
}

.container {
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: var(--nav-color);
    padding-inline: 10vw;
    transition: background 0.3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nave-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-color);
}

.nav-menu .nav_menu_list {
    display: flex;
    column-gap: 30px;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}
